


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SSAGR4{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#<link rel="stylesheet" href="css/bootstrap.css">#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('js/datatables.min.css') }}"/>
</head>
<body>
<style>
    .glyphicon-flag,.glyphicon-home {
        font-size: xx-large;
    }

    .topNavBar {
        margin: 1em !important;
    }

    .topNavBar > div > a {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
</style>

{% if app.session.get('userConnect') == null %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center topNavBar">
            <div class="col-xs-1"><a href="{{ path("homepage") }}"><img src="{{ asset('img/logo-horizontal.png') }}" style="height: 100%; width: 100%;"></img></a></div>
            <div class="col-xs-3"><a class="btn btn-default" href="{{ path("Demande") }}">{{ "proposer_un_voyage"|trans }}</a></div>
            <div class="col-xs-3"><a class="btn btn-default disabled" href="{{ path("participer") }}">{{ "participer_voyage"|trans }}</a></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-4">
                <div class="col-xs-6"></div>
                <div class="col-xs-3"><a class="btn btn-default" href="{{ path("connexion") }}"><span class="glyphicon glyphicon-log-in"></span></a></div>
                <div class="col-xs-3">
                    {% if app.request.locale is defined %}
                        {% if app.request.locale == 'en' %}
                            <a href="{{ path('setlocale', {'language': 'fr'}) }}"><img style="width: 45%" src="{{ asset('img/drapeauFR.png') }}" /></a>
                        {%  else %}
                            <a href="{{ path('setlocale', {'language': 'en'}) }}"><img style="width: 45%" src="{{ asset('img/drapeauEN.png') }}" /></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% else %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center topNavBar">
            <div class="col-xs-1"><a href="{{ path("homepage") }}"><img src="{{ asset('img/logo-horizontal.png') }}" style="height: 100%; width: 100%;"></img></a></div>
            <div class="col-xs-3"><a class="btn btn-default" href="{{ path("Demande") }}">{{ "proposer_un_voyage"|trans }}</a></div>
            <div class="col-xs-3"><a class="btn btn-default" href="{{ path("participer") }}">{{ "participer_voyage"|trans }}</a></div>
            {#<div class="col-xs-2">{{ "bonjour"|trans }} <span>{{ pers_co.nom }} {{ pers_co.prenom }}</span></div>#}
            <div class="col-xs-1"></div>
            {% if app.session.get('userConnect') is defined %}
                <div class="col-xs-1">{{ "bonjour"|trans }} <span>{{ app.session.get('userConnect').nom }} {{ app.session.get('userConnect').prenom }}</span></div>
            {% else %}
                <div class="col-xs-1">{{ "connectez_vous"|trans }}</span></div>

            {% endif %}
            <div class="col-xs-3">
                <div class="col-xs-2"><a class="btn btn-default" href="{{ path("moncompte") }}"><span class="glyphicon glyphicon-user"></span></a></div>
                {% if app.session.get('userConnect').isAdmin %}
                    <div class="col-xs-2"><a class="btn btn-default" href="{{ path("administration") }}"><span class="glyphicon glyphicon-wrench"></span></a></div>
                {% endif %}
                <div class="col-xs-2"><a class="btn btn-default" href="{{ path("deconnexion") }}"><span class="glyphicon glyphicon-log-out"></span></a></div>
                <div class="col-xs-6">{% if app.request.locale is defined %}
                    {% if app.request.locale == 'en' %}
                        <a href="{{ path('setlocale', {'language': 'fr'}) }}"><img style="width: 30%" src="{{ asset('img/drapeauFR.png') }}" /></a>
                    {%  else %}
                        <a href="{{ path('setlocale', {'language': 'en'}) }}"><img style="width: 30%" src="{{ asset('img/drapeauEN.png') }}" /></a>
                    {% endif %}
                {% endif %}
                </div>
            </div>


        </div>
    </div>

{% endif %}

{% block body %}



{% endblock %}

<nav>
    <ul class="nav nav-justified navbar-fixed-bottom">
        <li class="active"><a href="#">{{ "charte_conducteur"|trans }}</a></li>
        <li><a href="{{ path('contact') }}">{{ "contact"|trans }}</a></li>
        <li><a href="{{ path('contrainteslegales') }}">{{ "contraintes_legales"|trans }}</a></li>
    </ul>
</nav>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/datatables.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>










