{% set online = true %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}SSAGR4{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {#<link rel="stylesheet" href="css/bootstrap.css">#}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('js/datatables.min.css') }}"/>
</head>
<body>
<style>
    .glyphicon-flag,.glyphicon-home {
        font-size: xx-large;
    }

    .topNavBar {
        margin: 1em !important;
    }

    .topNavBar > div > a {
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
</style>

{% if online == false %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center topNavBar">
            <div class="col-xs-1"><a href="{{ path("homepage") }}"><img src="{{ asset('img/logo-horizontal.png') }}" style="height: 100%; width: 100%;"></img></a></div>
            <div class="col-xs-3"><a class="btn btn-default" href="{{ path("Demande") }}">{{ "proposer_un_voyage"|trans }}</a></div>
            <div class="col-xs-3"><a class="btn btn-default disabled" href="#">{{ "participer_voyage"|trans }}</a></div>
            <div class="col-xs-2"><a class="btn btn-default disabled" href="#">{{ "connexion"|trans }}</a></div>
            <div class="col-xs-3">
                {% if app.request.locale is defined %}
                    {% if app.request.locale == 'en' %}
                        <a href="{{ path('setlocale', {'language': 'fr'}) }}"><img style="width: 10%" src="{{ asset('img/drapeauFR.png') }}" /></a>
                    {%  else %}
                        <a href="{{ path('setlocale', {'language': 'en'}) }}"><img style="width: 10%" src="{{ asset('img/drapeauEN.png') }}" /></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% else %}
    <div class="container-fluid">
        <div class="col-xs-12 text-center topNavBar">
            <div class="col-xs-1"><a href="{{ path("homepage") }}"><img src="{{ asset('img/logo-horizontal.png') }}" style="height: 100%; width: 100%;"></img></a></div>
            <div class="col-xs-3"><a class="btn btn-default" href="{{ path("Demande") }}">{{ "proposer_un_voyage"|trans }}</a></div>
            <div class="col-xs-2"><a class="btn btn-default" href="#">{{ "participer_voyage"|trans }}</a></div>
            <div class="col-xs-2">{{ "bonjour"|trans }} <span style="color: red;">[NOM_COMPTE]</span></div>
            <div class="col-xs-2"><a class="btn btn-default" href="{{ path("moncompte") }}">{{ "mon_compte"|trans }}</a></div>
            <div class="col-xs-2">
                {% if app.request.locale is defined %}
                    {% if app.request.locale == 'en' %}
                        <a href="{{ path('setlocale', {'language': 'fr'}) }}"><img style="width: 15%" src="{{ asset('img/drapeauFR.png') }}" /></a>
                    {%  else %}
                        <a href="{{ path('setlocale', {'language': 'en'}) }}"><img style="width: 15%" src="{{ asset('img/drapeauEN.png') }}" /></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% endif %}

{% block body %}



{% endblock %}
<nav class="hidden">
    <ul class="nav nav-justified navbar-fixed-bottom">
        <li class="active"><a href="#">{{ "charte_conducteur"|trans }}</a></li>
        <li><a href="{{ path('contact') }}">{{ "contact"|trans }}</a></li>
        <li><a href="#">{{ "contraintes_legales"|trans }}</a></li>
    </ul>
</nav>


<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/datatables.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>










