{% extends "base.html.twig" %}

{% block title %}{{ "charte_conducteur"|trans }}{% endblock %}

{% block body %}
    <style>
        td {
            /*vertical-align: text-top;*/
        }
    </style>

    <h1 class="text-center"> {{ "charte_conducteur"|trans }} </h1>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <table style="border-collapse: separate; border-spacing: 15px 15px;" >
            <tr>
                <div class="col-sm-3">
                    <td><h3>1</h3></td>
                </div>
                <div class="form-group col-xs-12 col-sm-9">
                    <td>{{ "point_1"|trans }}</td>
                </div>
            </tr>
            <tr>
                <td><h3>2</h3></td>
                <td>{{ "point_2"|trans }}</td>
            </tr>
            <tr>
                <td><h3>3</h3></td>
                <td>{{ "point_3"|trans }}</td>
            </tr>
            <tr>
                <td><h3>4</h3></td>
                <td>{{ "point_4"|trans }}</td>
            </tr>
            <tr>
                <td><h3>5</h3></td>
                <td>{{ "point_5"|trans }}</td>
            </tr>
            <tr>
                <td><h3>6</h3></td>
                <td>{{ "point_6"|trans }}</td>
            </tr>
            <tr>
                <td><h3>7</h3></td>
                <td>{{ "point_7"|trans }}</td>
            </tr>
            <tr>
                <td><h3>8</h3></td>
                <td>{{ "point_8"|trans }}</td>
            </tr>
            <tr>
                <td><h3>9</h3></td>
                <td>{{ "point_9"|trans }}</td>
            </tr>
            <tr>
                <td><h3>10</h3></td>
                <td>{{ "point_10"|trans }}</td>
            </tr>
            <tr>
                <td><h3>11</h3></td>
                <td>{{ "point_11"|trans }}</td>
            </tr>
            <tr>
                <td><h3>12</h3></td>
                <td>{{ "point_12"|trans }}</td>
            </tr>
            <tr>
                <td><h3>13</h3></td>
                <td>{{ "point_13"|trans }}</td>
            </tr>
            <tr>
                <td><h3>14</h3></td>
                <td>{{ "point_14"|trans }}</td>
            </tr>
            <tr>
                <td><h3>15</h3></td>
                <td>{{ "point_15"|trans }}</td>
            </tr>
            <tr>
                <td><h3>16</h3></td>
                <td>{{ "point_16"|trans }}</td>
            </tr>
            <tr>
                <td><h3>17</h3></td>
                <td>{{ "point_17"|trans }}</td>
            </tr>
            <tr>
                <td><h3>18</h3></td>
                <td>{{ "point_18"|trans }}</td>
            </tr>
            <tr>
                <td><h3>19</h3></td>
                <td>{{ "point_19"|trans }}</td>
            </tr>
            <tr>
                <td><h3>20</h3></td>
                <td>{{ "point_20"|trans }}</td>
            </tr>
        </table>
        </br></br></br></br></br></br></br>
    </div>


    <hr class="col-xs-12" style="padding-bottom: 2em">


{% endblock %}
