{% extends "base.html.twig" %}

{% block title %}{{ "contraintes_legales"|trans }}{% endblock %}

{% block body %}
    <style>
        td {
            /*vertical-align: text-top;*/
        }
    </style>

    <h1 class="text-center"> {{ "contraintes_legales"|trans }} </h1>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <table style="border-collapse: separate; border-spacing: 15px 15px;" >
            <tr>
                <td><h3>{{ "partie1"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "point_1_contleg1"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "point_1_contleg2"|trans }}
                    </br></br>
                    {{ "point_1_contleg3"|trans }} {{ "ssagr"|trans }}
                    </br>
                    {{ "adressessagr"|trans }}
                    <br><br>
                    {{ "point_1_contleg4"|trans }} {{ "ssagr"|trans }}
                    <br>
                    {{ "point_1_contleg5"|trans }} {{ "ssagr"|trans }} {{ "point_1_contleg6"|trans }}
                    <br>
                    {{ "point_1_contleg7"|trans }}
                    <br>
                    {{ "point_1_contleg8"|trans }}
                    <br><br>
                    {{ "point_1_contleg9"|trans }}
                    <br>
                    {{ "point_1_contleg10"|trans }}
                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie2"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "2utilisation_site"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "implication"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "invitation"|trans }}
                    <br>
                    {{ "site_accessible"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "communiquer"|trans }}
                    <br>
                    {{ "le_site"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "mis_a_jour"|trans }}
                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie3"|trans }}</h3></td>
            </tr>
            <tr>
                <td>
                    {{ "le_site"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "information"|trans }}
                    <br>
                    {{ "ssagr"|trans }} {{ "ssagr_efforce"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "informations_precises"|trans }}
                    <br>
                    {{ "toutes_infos"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "titre_indicatif"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "exaustif"|trans }}

                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie4"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "point4"|trans }}</td>
            </tr>
            <tr>
                <td><h3>{{ "partie5"|trans }}</h3></td>
            </tr>
            <tr>
                <td>
                    {{ "ssagr"|trans }} {{ "proprietaire"|trans }}
                    <br>
                    {{ "reproduction"|trans }} {{ "ssagr"|trans }}
                    <br>
                    {{ "exploitation"|trans }}
                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie6"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "ssagr"|trans }} {{ "responsable"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "resultant"|trans }}
                    <br>
                    {{ "ssagr"|trans }} {{ "non_responsable"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a>
                    <br>
                    {{ "espace_interactif"|trans }} {{ "ssagr"|trans }} {{ "droit_supprimer"|trans }} {{ "ssagr"|trans }} {{ "mettre_cause"|trans }}

                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie7"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "france"|trans }}
                    <br>
                    {{ "occas"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "infos_recup"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "fournisseur"|trans }}
                    <br>
                    {{ "collec_infos"|trans }}  <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "util_fournit"|trans }}
                    <br>
                    {{ "conformement"|trans }}

                    <br>
                    {{ "no_info_perso"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a> {{ "publier"|trans }} {{ "ssagr"|trans }} {{ "le_droit"|trans }} <a href="{{ "urlsite"|trans }}">{{ "urlsite"|trans }}</a>
                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie8"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "litige"|trans }} {{ "XXX"|trans }} {{ "droit_francais"|trans }}</td>
            </tr>
            <tr>
                <td><h3>{{ "partie9"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "loi1"|trans }}
                    <br>
                    {{ "loi2"|trans }}
                </td>
            </tr>
            <tr>
                <td><h3>{{ "partie10"|trans }}</h3></td>
            </tr>
            <tr>
                <td>{{ "utilisateur_def"|trans }}
                    <br>
                    {{ "info_perso_def"|trans }}
                </td>
            </tr>
        </table>
        </br></br></br></br></br>
        </br></br></br></br>
    </div>

    <hr class="col-xs-12" style="padding-bottom: 2em">
    </br></br></br></br></br>
    </br></br></br></br>
{% endblock %}
