{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}


<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6  col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
    <h1> {{ "administration"|trans }} </h1>
    <div class="col-xs-6 col-xs-offset-1"><a class="btn btn-default" href="{{ path("creationPersonne") }}">{{ "creation_personne"|trans }}</a></div>
    <div class="col-xs-5"><a class="btn btn-default" href="{{ path("creationVoiture") }}">{{ "creation_voiture"|trans }}</a></div>


</div>



{% endblock %}
