{% extends "base.html.twig" %}

{% block title %}Partir en covoiturage{% endblock %}

{% block body %}


    <link href="{{ asset("css/datepicker.css") }}" rel="stylesheet" type="text/css">

    <style>
        option:checked {
            background-color: lightgrey;
        }

        .btn-bas > * {
            margin-bottom: 0.5em;
        }
    </style>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form action="{{ path("DemandeForm") }}" method="post" role="form">
            <legend>{{ "detail_covoit_titre"|trans }}</legend>
            <div class="form-group col-xs-12">
                <label for="inputID" class="col-xs-12">{{ "personne"|trans }}*</label>

                <div class="col-xs-12 col-sm-6">
                    {% for personne in emprunt.listePersonne %}
                        {#{{ dump(personne) }}#}
                        {% if personne.conducteur %}

                            <input type="text" name="personne" id="personne" class="form-control"
                                   value="{{ personne.personneId.nom }} {{ personne.personneId.prenom }}" title=""
                                   readonly>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="" class="col-xs-12">{{ "lieu_depart"|trans }}* :</label>
                <div class="col-xs-12 col-sm-6">
                    {% for data in emprunt.listeLieux %}
                        {% if data.depart == true %}
                            <input type="text" name="lieu_depart_1" id="lieu_depart_1" class="form-control"
                                   value="{{ data.lieuId.libelle }}" title="" readonly>
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">


                        {% for data in emprunt.listeLieux %}
                            {% if  data.depart == true %}
                                <input type="text" name="date_depart_1" id="date_depart_1" class="form-control"
                                       value="{{ data.dateEtHeure|date("d/m/Y H:i", false) }}" readonly/>
                            {% endif %}
                        {% endfor %}

                        <span class="input-group-addon" onclick=""><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="" class="col-xs-12">{{ "lieu_arrive"|trans }}* :</label>
                <div class="col-xs-12 col-sm-6">

                    {% for data in emprunt.listeLieux %}
                        {% if  data.depart != true %}
                            <input type="text" name="lieu_arrive_1" id="lieu_arrive_1" class="form-control"
                                   value="{{ data.lieuId.libelle }}" title="" readonly>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group">

                        {% for data in emprunt.listeLieux %}
                            {% if  data.depart != true %}
                                <input type="text" name="date_arrive_1" id="date_arrive_1" class="form-control"
                                       value="{{ data.dateEtHeure|date("d/m/Y H:i", false) }}" readonly/>
                            {% endif %}
                        {% endfor %}
                        <span class="input-group-addon" onclick=""><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label for="vehicule" class="col-xs-12">{{ "vehicule"|trans }}* :</label>
                <div class="col-xs-8 col-sm-6">
                    <input type="text" name="vehicule" id="vehicule" class="form-control"
                           value="{{ emprunt.vehicule_id.libelle }}" title=""
                           readonly>

                </div>
            </div>

            <div class="form-group col-xs-12">
                <label for="commentaire" class="col-xs-12">{{ "commentaire"|trans }} :</label>
                <div class="">
                    <textarea name="commentaire" id="commentaire" rows="5" class="col-xs-6 form-control"
                              readonly>{{ emprunt.commentaire }}</textarea>
                </div>
            </div>
        </form>
        <div class="col-xs-6" style="margin-top: 1em">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ "detail_voyageurs"|trans }}</h3>
                </div>
                <div class="panel-body">
                    {% for personne in emprunt.listePersonne %}
                        {#{{ dump(personne) }}#}
                        {% if personne.conducteur %}
                            <p>{{ personne.personneId.nom }} {{ personne.personneId.prenom }}
                                : {{ "personne"|trans }}</p>
                        {% else %}
                            <p>{{ personne.personneId.nom }} {{ personne.personneId.prenom }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 btn-bas">
            <button type="button" class="btn btn-warning col-xs-12 col-sm-3" data-toggle="modal"
                    data-target="#retardModal">
                {{ "detail_signal_prob"|trans }}
            </button>
            {% for data in emprunt.listeLieux %}
                {% if data.depart == true and date(data.dateEtHeure) < date() %}
                    <button type="button" class="btn btn-default col-xs-12 col-sm-3 col-sm-offset-1" data-toggle="modal"
                            data-target="#rend_cleModal">{{ "detail_rendre_cle"|trans }}</button>
                {% endif %}
            {% endfor %}


            {#<div class="col-xs-4">#}

            {#</div>#}

            {% for personne in emprunt.listePersonne %}



                {#{{ dump(personne) }}#}
                {% if pers_co.id != personne.personneId.id %}
                    {% for data in emprunt.listeLieux %}
                        {% if data.depart == false and date(data.dateEtHeure) > date() %}
                            {% set affichage = false %}

                            {% for pers in emprunt.listePersonne %}
                                {% if pers_co.id == pers.personneId.id %}
                                    {% set affichage = true %}
                                {% endif %}
                            {% endfor %}

                            {% if affichage == true %}
                                <a href="{{ path("plus_participer_passager",{"empruntId":emprunt.id,"personneId":pers_co.id}) }}"
                                   class="btn btn-danger col-xs-12 col-sm-3 col-sm-offset-1">{{ "detail_plus_participer"|trans }}</a>
                            {% else %}

                                {% if emprunt.listePersonne|length < 6 %}
                                    <a href="{{ path("participer_passager",{"empruntId":emprunt.id,"personneId":pers_co.id}) }}"
                                       class="btn btn-success col-xs-12 col-sm-3 col-sm-offset-1">{{ "detail_participer"|trans }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                {% endif %}
            {% endfor %}


        </div>


    </div>
    <hr class="col-xs-10 col-xs-offset-1" style="padding: 2em 0 2em 0">



    </br></br></br>
    <hr class="col-xs-10 col-xs-offset-1" style="padding-bottom: 2em">

    {# MODAL POUR SIGNALER UN RETARD #}
    <div class="col-xs-12">
        <div id="retardModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ "retard_titre"|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="ret_ok" class="alert alert-success" role="alert" hidden></div>
                        <div id="ret_nok" class="alert alert-warning" role="alert" hidden></div>
                        <div id="ret_err" class="alert alert-danger" role="alert" hidden></div>
                        <form id="retard_form" action="{{ path("retard") }}" method="post" role="form">
                            <input type="hidden" name="idEmprunt" value="{{ emprunt.id }}">
                            <div class="form-group">
                                <label for="">{{ "retard_heure_prevu"|trans }}</label>

                                {% for data in emprunt.listeLieux %}
                                    {% if  data.depart != true %}
                                        <input type="text" class="form-control" name="retard_date_prevu" id=""
                                               value="{{ data.dateEtHeure|date("d/m/Y H:i", false) }}" readonly>
                                    {% endif %}
                                {% endfor %}


                            </div>
                            <div class="form-group">
                                <label for="inputID" class="control-label">{{ "retard_estime"|trans }}*</label>
                                <div>
                                    <select name="retard_retard" id="inputID" class="form-control" required>
                                        <option value="15">15 min</option>
                                        <option value="30">30 min</option>
                                        <option value="45">45 min</option>
                                        <option value="1">1h</option>
                                        <option value="2">2h</option>
                                        <option value="3">3h</option>
                                        <option value="4">4h</option>
                                        <option value="5">+5h</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputID" class="control-label">{{ "retard_cause"|trans }}*</label>
                                <div>
                                    <select name="retard_cause" id="inputID" class="form-control" required>
                                        <option value="1">{{ "retard_embouteillage"|trans }}</option>
                                        <option value="2">{{ "retard_retard"|trans }}</option>
                                        <option value="3">{{ "retard_prob_voiture"|trans }}</option>
                                        <option value="4">{{ "retard_autre"|trans }}</option>
                                    </select>
                                </div>
                            </div>


                            <button type="submit"
                                    class="btn btn-success">{{ "retard_btn_validation"|trans }}</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# MODAL POUR RENDRE LES CLES #}
    <div class="col-xs-12">
        <div id="rend_cleModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ "rend_cle_titre"|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="rendre_cle_ok" class="alert alert-success" role="alert" hidden></div>
                        <div id="rendre_cle_nok" class="alert alert-warning" role="alert" hidden></div>
                        <div id="rendre_cle_err" class="alert alert-danger" role="alert" hidden></div>
                        <form action="{{ path("rendre_cle", {'empruntId':emprunt.id }) }}" method="post" id="cle_form" role="form">

                            <div class="form-group">
                                <label for="">{{ "rend_cle_rendu_le" }}</label>
                                <input type="text" class="form-control" name="heureArrive" id=""
                                       value="{{ "now"|date("d/m/Y H:i", false) }}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label">{{ "rend_cle_signaler_prob"|trans }}</label>
                                <textarea class="form-control" name="messageArrive" id="" cols="30" rows="3"
                                          placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">
                                    {{ "retard_btn_validation"|trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}


    <script src="{{ asset("js/datepicker.js") }}"></script>


    <script>

        $("#retard_form").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.data.retard_retard >= 15) {
                        mess = data.data.retard_retard + ' minutes';
                    } else if (data.data.retard_retard == 1) {
                        mess = data.data.retard_retard + ' heure';
                    } else {
                        mess = data.data.retard_retard + ' heures';
                    }
                    $("#ret_ok").show();
                    $("#ret_ok").text(data.mes + ' : Retard de ' + mess);
                }
            });
        });
        $("#cle_form").submit(function (e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    if (data.status == 200 ){
                        $("#rendre_cle_ok").val(data.msg);
                        $("#rendre_cle_ok").show();
                    }else{
                        console.log(data.error);
                        $("#rendre_cle_err").text(data.error);
                        $("#rendre_cle_err").show();
                    }
                }
            });
        });

        $("#form_newSite").click(function () {
            window.location = "{{ path("homepage") }}";
        });


    </script>
    {#<script src="{{ asset("js/datepicker.fr.js") }}"></script>#}
{% endblock %}
